/*container is a class. Notice that classes have a '.'
and IDs will have a # at the start :)*/

:root{
    --background: lightgrey;
    --maincolor: #35424a;
    --accentcolor: #ff7f50;
    --accentdarker: #e36d41;
    --fontlight: white;
    --fontdark: black;
    --hovercolor: lightgrey;
}

/* The body of the whole page */
body{
    font-family: Arial, Helvetica, sans-serif, Consolas;
    font-size: 15px;
    line-height: 1.5;

    padding: 0;
    margin: 0;
    background-color: var(--background);
}

    /* THE GLOBAL STUFF */

/* The CORE container, this is basically global settings*/
.container{
    width: 90%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.button_1{
    height: 38px;
    background: var(--accentcolor);
    border: none;
    padding: 0 25px 0 25px;
    color: white;
}

    /* THE HEADER CODE */

/* header setting */
header {
    background: var(--maincolor);
    color: var(--fontlight);
    padding-top: 30px;
    min-height:  70px;
    border-bottom: var(--accentcolor) 5px solid;
}

/* The 'a' tag when it's within the header */
header a{
    color: var(--fontlight);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* The 'ul' unordered list in the header
the ul naturally has padding and margins, we're removing them*/

/* each 'li' list item in the header */
header li{
    float:left;
    display:inline;
    /* top right bottom left <------------------------------------*/
    padding: 0 20px 0 20px;
}

/* The branding ID within the header
We want to float it left with the nav on the right*/
@media screen and (min-width: 651px){

    header #branding {
        float: left;
    }

    /*  Reaching into the header's branding h1
    and removing margins !*/
    header #branding h1{
        margin: 0;
        padding: 0;
        font-size: 32px;
    }

    header #branding p{
        margin: 0;
        padding: 10px 0 30px 0;
        font-size: 16px;
    }

    header nav{
        float: right;
        margin-top: 25px;
    }
}
@media screen and (max-width: 650px){

    /*  Reaching into the header's branding h1
    and removing margins !*/
    header #branding h1{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 44px;
    }

    header #branding p{
        text-align: center;
        position: center;
        margin: 0;
        padding: 0 0 10px 0;
        font-size: 20px;
    }

    header nav ul{
        margin: 0;
        padding: 15px 0 35px 0;
        justify-content: center;
        display: flex;
    }

}

header .highlight, header .current a{
    color: var(--accentcolor);
    font-weight: bold;
}

header a:hover{
    color: var(--hovercolor);
    font-weight: bold;
}

    /* THE SHOWCASE CODE */

#showcase{
    min-height: 400px;
    /* the axes are X and then Y for the position*/
    background: url('../img/boi.png') no-repeat center top;
    width: 100%;
    color: #ffffff;

    text-align: center;
}


#showcase p{
    font-size: 22px;
    position: center;
    padding-top: 150px;
    padding-left: 30%;
    padding-right: 30%;

}

    /* PROJECT BOXES */

#projects h1 {
    text-align: center;
    background-color: var(--maincolor);
    color: var(--fontlight);
    margin: 0;
    padding: 20px;
    font-size: 45px;
    /*
    text-align: center;
    font-size: 40px;
    background-color: var(--maincolor);
    color: var(--fontcolor);
    margins: -150px;
    padding: 15px;
     */
    border-bottom: var(--accentcolor) 5px solid;
    margin-bottom: 25px;
}

.box{
    overflow:hidden;
    position: center;
    margin-top: 10px;
}

.box h2{
    text-align: center;
    padding-top: 15px;
    margin: 10px;
    font-size: 30px;
    color: var(--fontdark);
}

@media screen and (min-width: 1001px)
{
    .box img{
        width: 45%;
        padding: 25px 0 0 0;
        margin: 0;
        position: center;
    }

    .box p{
        width: 50%;
        text-align: left;
        padding: 0;
        margin: 10px 0;
        font-size: 1.4vw;
        color: var(--fontdark);

    }

    .boxL img{
        float: left;
    }

    .boxL p{
        float: right;
    }
    .boxR img{
        float: right;
    }

    .boxR p{
        float: left;
    }
}

@media screen and (max-width: 1000px)
{

    .box p {
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: var(--maincolor) solid;
        font-size: 18px;

        color: var(--fontdark);
    }

}

    /* CHECK OUT MORE SETTINGS*/

#seemore{
    background: var(--maincolor);
    margin: 20px 20px 20px 20px;
    padding: 0;
}

#seemore .container{
    width: 90%;
}

#seemore .button_1:hover {
    background-color: var(--accentdarker);
    color: white;
}

@media screen and (min-width: 801px)
{
    #seemore h1{
        color: var(--fontlight);
        float: left;
        text-align: center;
    }

    #seemore .button_1{
        width: 30%;
        font-size: 20px;
        background: var(--accentcolor);
        border: none;
        color: white;
        float: right;
        margin: 20px 0 20px 0;
    }
}
@media screen and (max-width: 800px)
{
    #seemore h1{
        color: var(--fontlight);
        text-align: center;
    }

    #seemore .button_1{
        position: relative;
        width: 100%;
        font-size: 20px;
        background: var(--accentcolor);
        border: none;
        color: white;
        margin-bottom: 20px;
        padding: 10px 0 35px 0;
    }
}

@media screen and (max-width: 500px)
{
    #seemore h1{
        color: var(--fontlight);
        text-align: center;
        font-size: 18px;
    }
}


    /* FOOTER SETTINGS */

footer {
    background-color: var(--maincolor);
    overflow: auto;
    margin: 0;
}

footer #copyright{
    color: var(--fontlight);
    padding: 20px 0 25px 50px;
    margin: 0;
    float: left;
}

footer #thanks{
    color: var(--fontlight);
    padding: 20px 50px 25px 0;
    margin: 0;
    float: right;
    font-weight: bolder;
}



